body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-border{
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.border{
  border: solid 2px gold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.App h1 {
  text-align: center;
  padding: 10px;
}

.App h3 {
  text-align: center;
}

img {
  width: 200px;
  height: 300px;
}